<h2>page:<%= @page %></h2>



<div class="index">
    
    <% @post.each do |post| %>
        <div class="post">
            <div class="post_number">number:<%= post.id %></div>
            <div class="post_name">name:<%= post.name %></div>
            <div class="post_date">date:<%= post.created_at.strftime('%Y/%m/%d') %></div>
            <div class="post_content"><%= simple_format(post.content) %></div>
            <div class="edit_and_delete">
                <%= link_to("edit",controller: "home", action: "edit", id: post.id) %>
                 / 
                <%= link_to("delete",controller: "home", action: "delete", id: post.id) %>
            </div>
        </div>
    <% end %>

</div>

<div class="navi">
    <% if @page==2 %>
        <%= link_to("prev","../") %>
    <% else %>
        <%= link_to("prev","/page/#{@page-1}") %>
    <% end %>

    <% if @page*10<Post2.last.id %>
        / <%= link_to("next","/page/#{@page+1}") %>
    <% end %>
    
</div>
